@tailwind base;
@tailwind components;
@tailwind utilities;


.swal2-icon-success,
.swal2-icon-success .swal2-title {
color: #89B77D !important;
}

.colored-toast .swal2-icon-info,
.swal2-icon-info .swal2-title {
color: #8CAFCE !important;
}

.colored-toast .swal2-icon-warning,
.swal2-icon-warning .swal2-title {
color: #EEE8A9 !important;
}

.colored-toast .swal2-icon-error,
.swal2-icon-error .swal2-title {
color: #F87272 !important;
}
.customize-table {
    --easy-table-header-font-size: 10px;
    --easy-table-header-height: 30px;
  
    --easy-table-body-row-font-size: 9px;
  
    --easy-table-footer-font-size: 10px;
  }

.customize-table {
    --easy-table-header-font-size: 14px;
    --easy-table-header-height: 30px;
  
    --easy-table-body-row-font-size: 11px;
  
    --easy-table-footer-font-size: 10px;
  }